.btn-default{
    background-color: $base-color;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto Condensed';
    border-radius: 5px;
    min-width: 100px;
    min-height: 40px;
    max-width: 110px;
    transition: .2s background-color;
    cursor: pointer;
    &:hover{
        background-color: $base-hover-color;
        transition: .2s background-color;
    }
}

.btn-secondary{
    background-color: #fff;
    color: $base-color;
    &:hover{
        background-color: $base-hover-color;
        color: #fff;
    }
}