.title-text{
    margin: 2% 0 2% 0;
    p{
        font-family: 'Roboto', sans-serif;
        color: #B22EBD;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
}